@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: white;
}
html,
body {
  height: 100%;
  width: 100%;
}

.boxes ul li span {
  font-size: 30px;
}

.boxes ul li {
  height: 150px;
  width: 200px;
}

.boxes ul {
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .mainImg {
    height: 120px;
  }
  .mainImg div {
    padding-left: 5px;
  }
  .mainImg div h1 {
    font-size: 16px;
  }
  .mainImg div h2 {
    font-size: larger;
  }
  .mainImg div h3 {
    font-size: 50px;
  }
  .options {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }

  .boxes {
    padding: 10px;
  }
  .boxes ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
  .boxes ul li {
    height: 120px;
    width: 120px;
    text-align: center;
    overflow: hidden;
  }
  .boxes ul li h1 {
    font-size: 10px;
    width: 100px;
  }
  .live{
    font-size: 18px !important;
    width: 60px !important;
  }
  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
  }
  .footer div h1 {
    font-size: 12px;
  }
  .footerLive {
    font-size: 12px;
    width: 60px;
    height: 30px;
    margin-left: 20px;
  }
}
